.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary);
  padding: 1rem 0;
  margin: 1rem 0;
}
.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: var(--primary);
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
}

.actions {
  flex: 0 0 120px;
  display: flex;
  justify-content: flex-end;
}
.actions > *:first-child {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .cart-item {
    flex-wrap: wrap;
  }
  .actions {
    flex: 0 0 100%;
  }

  .summary {
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }
  .cart-item >*:first-child{
    width: 100%;
    flex: 0 0 100%;
  }

}