.button {
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    color: white;
    font: inherit;
    cursor: pointer;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.button:hover,
.button:active {
    background-color: var(--primary-darkest);
    border-color: var(--primary-darkest);
}
.button_o {
    background-color: transparent;
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
}
.button_o:hover,
.button_o:active {
    background-color: var(--primary-darkest);
    border-color: var(--primary-darkest);
    color: white;
}

.button_quantity {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 3px;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_quantity:hover,
.button_quantity:active {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}